<template name="poule">
	<div class="panel panel-default">
		<div class="panel-heading">
	  		<h5 class="panel-title">{{name}}
	  		{{#if currentUser}}
	  			<button type="button" class="btn btn-danger btn-xs poule-delete" aria-label="Trash poule">
  					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
			{{/if}}
			</h5>
		</div>
	  	<div class="panel-body poule-table"> <!-- la table de la poule -->

			{{#each formatedEntries}}
		  		<div class="table-row">
		  			<div class="poule-cell poule-cell-case cell-bottom-left {{#if isFirstLine index}}cell-top cell-title{{/if}}">{{index}}</div>
					<div class="poule-cell poule-cell-name cell-bottom-left cell-right {{#if isFirstLine index}}cell-top cell-title{{/if}}">{{tireur.nom}}&nbsp;{{tireur.prenom}}</div>
					<div class="poule-cell separator"></div>
					{{#each results}}
						{{#if isDiese val}}
							<div class="poule-cell poule-cell-case cell-bottom-left caseGrise"></div>
						{{else}}
							<div class="poule-cell case-blanche poule-cell-case cell-bottom-right {{#if isNotFirstLineInResults lig}}cell-click-score{{else}}cell-top cell-title{{/if}} {{#if isFirstColInResults col}}cell-left{{/if}}" id="{{pouleId}}-{{lig}}-{{col}}">{{val}}<span class="state">{{state}}</span></div>
						{{/if}}
					{{/each}}
					<div class="poule-cell separator"></div>
					<div class="poule-cell poule-cell-case cell-bottom-left {{#if isFirstLine index}}cell-top cell-title{{/if}}">{{ratio}}</div>
					<div class="poule-cell poule-cell-case cell-bottom-left {{#if isFirstLine index}}cell-top cell-title{{/if}}">{{pv}}</div>
					<div class="poule-cell poule-cell-case cell-bottom-left {{#if isFirstLine index}}cell-top cell-title{{/if}}">{{td}}</div>
					<div class="poule-cell poule-cell-case cell-bottom-left {{#if isFirstLine index}}cell-top cell-title{{/if}}">{{tr}}</div>
					<div class="poule-cell poule-cell-case cell-bottom-left cell-right {{#if isFirstLine index}}cell-top cell-title{{/if}}">{{ga}}</div>
					<div class="poule-cell separator"></div>
					<div class="poule-cell poule-cell-case cell-bottom-left cell-right {{#if isFirstLine index}}cell-top cell-title{{/if}}">{{place}}</div>
					<div class="clear-both"></div>

					{{> modalScore}}
				</div>
			{{/each}}

		  	<div class="table-row">
		  		<div class="poule-cell poule-cell-name cell-bottom-left cell-right">
					{{#if currentUser}}<a class="btn btn-success btn-xs btn-ajout-tireur" href="#">+Tireur</a>{{/if}}		  			
		  		</div>
				<div class="poule-cell separator"></div>
		  		<div class="poule-cell poule-cell-name cell-bottom-left cell-right">
		  			{{#if currentUser}}<a class="btn btn-success btn-xs btn-score" href="#">Saisir un score</a>{{/if}}
		  		</div>
		  	</div>

	  	</div><!-- poule-table -->

	  	<div class="clear-both"></div>

	  	{{> modalRenameTireur}}
	  	
	</div><!-- panel -->
</template>